{% include 'partials/header.html' %}
<form action="{% url 'add' %}" method="post">
    {%  csrf_token  %}
    <label for="title">TITLE<</label><br/>
    <input type="text" name="title" id="title"/>
    <br>
    <label for="text">TeXT</label><br/>
    <textarea name="text" is="text"></textarea>
    <br><br>
    <input type="submit" value="submit" />
    <input id="id_checked" name="checked" type="checkbox">
    <label for="id_checked">Checked</label><br/>
  <a href = '/todo'>Go BAck</a>
 </form>

{% include 'partials/footer.html' %}